{% extends 'listings/base.html' %}

{% block title %}
    {% if form.instance.pk %}공지사항 수정{% else %}공지사항 작성{% endif %}
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card p-4 shadow-sm">
        <h2 class="mb-4">{% if form.instance.pk %}공지사항 수정{% else %}공지사항 작성{% endif %}</h2>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="{{ form.title.id_for_label }}" class="form-label">제목:</label>
                {{ form.title }}
            </div>
            <div class="mb-3">
                <label for="{{ form.content.id_for_label }}" class="form-label">내용:</label>
                {{ form.content }}
            </div>
            <button type="submit" class="btn btn-primary">저장</button>
            <a href="{% url 'announcements:announcements' %}" class="btn btn-secondary">취소</a>
        </form>
    </div>
</div>
{% endblock %}